body {
  font-family: monospace, Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #6f6f6f;
}
a :hover {
  cursor: pointer;
  text-shadow: 2px 2px;
}
ul {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-app-wrap {
  max-width: 800px;
  margin: 30px auto;
}

.weather-app {
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #6f6f6f;
  padding: 25px;
}
.city-name {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
.search-form {
  margin-bottom: 25px;
}
.search :hover {
  background-color: #d0d3d9;
  border: none;
}
.search-input {
  text-align: left;
}
.city {
  margin: 45px 0 0;
}
.current-weather {
  text-align: center;
}
.current-weather .active {
  cursor: default;
}
.current-city {
  margin: 45px 0 0;
}
.weather-specifics {
  margin: 65px 0 0;
  position: relative;
  left: 100px;
}
.weather-icon {
  width: 75px;
  margin: 10px auto;
}
.current-weather {
  text-align: center;
}
.current-icon {
  display: block;
  margin: 0 auto;
  width: 100px;
}
.current-temperature {
  font-size: 30px;
  line-height: 1;
  margin: 0 auto;
}
.day-description {
  font-size: 11px;
  padding: 0 2px;
  text-align: center;
}
.forecast-temperature {
  font-size: 15px;
  margin: 15px 0 10px;
  text-align: center;
}
.week-day {
  font-size: 12px;
  padding: 15px 0 0 0;
  text-align: center;
}
.forecast {
  margin-top: 20px;
  text-align: center;
}
.day-temperature-min {
  opacity: 0.6;
}
